.table {
  width: 100%;

  th {
    text-align: left;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    padding: 16px 24px;
    background-color: #e8eaed;
  }

  td {
    display: flex;
    align-items: center;
    padding: 10px 0px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }

  --table-grid: 1fr 2fr 1fr 1fr 1fr 2fr 2fr;

  thead {
    tr {
      display: grid;
      grid-template-columns: var(--table-grid);
      grid-template-rows: 1fr;
    }
  }

  tbody {
    tr {
      td {
        border-bottom: 2px solid #e8eaed;
        display: grid;
        grid-template-columns: var(--table-grid);
        grid-template-rows: 1fr;

        div {
          padding: 0 24px;
        }
      }
    }
  }
}
