* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  height: 100vh;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: #000;
  cursor: pointer;
}

button {
  color: #000;
  border: none;
  cursor: pointer;
}

a:focus-visible,
button:focus-visible {
  outline-color: #fab925; // accessibility and keyboard navigation
}

#root {
  height: 100%;
  width: 100%;
}

.app_wrapper {
  width: 1400px;
  height: 100%;
  margin-inline: auto;
  display: grid;
  grid-template-columns: 2fr 3.5fr;
  grid-template-rows: 1fr auto;
  gap: 24px;
  grid-template-areas:
    "form map"
    "form table";
  padding: 12px;
}

.form {
  grid-area: form;
}

.map {
  grid-area: map;
}

.table {
  grid-area: table;
}

.paginate {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
